* {
    padding: 0;
    margin: 0;
   box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    /* font-family:Arial, Helvetica, sans-serif */
}
.clear {
    clear: both;
}  
.nav-bar  {
    position: fixed;
    top :0px;
    right: 0;
    bottom: 0;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: modafade1 linear 0.5s;
    box-shadow: #ccc;
    z-index: 2;
    
}
@keyframes modafade1 {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
.nav-bar  li  a  {
    display:block;
    background-color: #009688;
    text-decoration: none;
    color: #fff;
    text-align: left;
    padding-left: 25px;
    margin-top: 65px;
}  
.nav-bar.open {
    display: flex;
}
.main.open {
    display: flex;
}
.nav-bar li  {
    background-color: #fff;
    text-align: center;
    list-style: none;  
 }
.menu-btn {
    float: right;
    font-size:x-large;
    background-color: #009688;
    color: #fff;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-right: 30px;
    cursor: pointer;
    position: fixed;
    right: 0;
    border-radius: 3px;
}
.nav-bar .close {
    position: absolute;
    right: 47px;
    top: 41px;
    cursor: pointer;
    color: #fff;
    font-size:x-large;
}
.bar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 200px;
    width: 250px;
    height: 100vh;
    background-color: #009688;
}
#slider {
    
    background: linear-gradient(rgba(0,0,0,0.5),#009688), url(../images/images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}  
#slider .logo {
    position: absolute;
    top: 70px;
    left: 100px;
    width: 140px;
} 
#slider .text-content {
    padding-top: 180px;
    text-align: center;
    color: #fff;
}
#slider .text-heading {
    
    font-size: 130px;   
    
}
.text-content p {
    font-size: 20px;
    font-style: italic;
    margin-top: 36px;
   

}
.banner-btn {
    margin: 70px auto 0;
}
.banner-btn a {
    position: relative;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 0.5px solid #fff;
    z-index: 1;
    transition: color 0.5s;
    
}
.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span {
    width: 100%;

}
.banner-btn a:hover {
    color: #757575;
}
/* features */
#FEATURES {
    width: 100%;
    padding: 70px 0;
}

.main-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}
.header2 p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.header2 p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.header2 {
    text-align: center;
    padding-bottom: 70px;
    
}
.header2 h1 {
    font-size: 50px;
    
}
.sider-left {
   flex-basis: 50%;
}
.sider-left h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.icon .bi {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
}
.fearutes-text p {
    text-align: initial;
    padding: 0 20px;

}
.sider-right {
   margin: auto;
   flex: 50%;
    
}
.sider-right img {
    width: 70%;
    border-radius: 10px;
}
/* begin service */
#service {
    width: 100%;
    padding: 70px 0;
    background: #efefef;

}
.service-box {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

}
.service-img {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.service-img img {
    width: 100%;
    border-radius: 7px;

}
.overlay {
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.service-img:hover .overlay  {
    opacity: 1;
} 
.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p {
    font-size: 14px;
}
.service-img:hover .service-desc {
    opacity: 1;
    bottom: 40%;
}
/*  end service*/
/* begin testimonial */
#testimonial {
    width: 100%;
    padding: 70px 0;
}
.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}
.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.info .bi {
    margin-left: 10px;
    font-size: 20px;
    color: #009688;
}
.user-info small {
    color: #009688;
}

.testimonial-col:hover {
    transform: translateY(7px);
}
/* end testimonial  */
/* begin contact */
#contact {
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}
#contact img  {
    opacity: 0.1;
    position: absolute;
    max-width: 370px;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.contact-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.box-left, .box-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.box-right  {
    text-align: right;
}
.contact-box h1 {
    margin: 10px 0;
    font-size: 24px;
}
.contact-box p {
    line-height: 35px;
}
.box-left .bi, .box-right .bi {
    font-size: 20px;
    color: #009688;
    margin: 10px;
}
.contact-link {
    text-align: center;
}
.contact-link .bi {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: .5s;
}
.contact-link  p {
    font-size: 12px;
    margin-top: 20px;
}
.contact-link .bi:hover {
    color: #ff9900;
}
/* end contact */
/* mobile */
@media screen and (max-width :575px) {
    #slider .text-heading {
        font-size: 50px;
    }   
    .sider-left,.sider-right       {
        flex-basis: 100%;
    }  
    .service-img {
        flex-basis: 100%;
    }
    .service-img:hover .service-desc {
        bottom: 30%;
    }
    .testimonial-col {
        flex-basis: 100%;
    }
    .header2 h1 {
        font-size: 30px;
    }
    #contact img {
        max-width: 180px;
        top: 15%;
    }
    .box-left, .box-right {
        flex-basis: 100%;
    }
    .box-right {
        text-align: left;
    }
    .bar {
        width: 150px;
    }
}
/* table width >=576px and width <768px */
@media screen and (min-width : 576px) and (max-width : 768px) {
    .service-img:hover .service-desc {
        bottom: 20%;
    }
    .testimonial-row {
        width: 95%;
    }
    .testimonial-col {
        flex-basis: 31%
    }
    .box-left, .box-right {
        flex-basis: 48%;
    }
    .contact-box {
        width: 90%;
    }
    .bar {
        width: 170px;
    }
    .sider-right img {
        width: 95%;
    }
    .sider-left {
        flex-basis: 48%;
    }
    .main-box {
        width: 100%;
    }
}
