/* mobile */
@media screen and (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .menu-btn {
        left: 8px;
    }
    .modal__inner {
        padding: 0;
    }
    .footer__content {
        padding: 0 16px;
    }
    .auth-form {
        width: 395px;
    }
}
@media screen and (min-width: 375px) and (max-width: 414px) {
    .form__inputgruop .form__input {
       width: 350px;
    }
    .modal__inner {
        width: 360px;
    }
    .auth-form {
        width: 395px;
    }

}
/* mobile & tablet */
@media screen and (max-width: 1023px) {
    .navbar {
        height: 0;
    }
    .header {
        height: 62px;
    }
    .header-with-search {
        height: 60px;
    }
    .header__logo img {
        width: 63px;
        margin-left: 35px;
        margin-top: 8px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }
    .header__sort-bar {
        display: flex;
    }
    
    .container {
        margin-top: 108px;
    }
    .menu-btn {
        display: block !important;
    }
}
/* tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
        text-align: center;
    }
    .modal__body, .modal__body1 {
        margin: 111px 200px 520px;
       
    }
    
}
@media screen and (min-width: 1024px) {
   
}