* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.col {
    float: left;
    padding: 0 8px;
}
.col-half {
    width: 50%;
}.col-thrid {
    width: 33.3333%;
}
.col-full {
    width: 100%;
}
.text-center {
    text-align: center!important;
}

.subnav > li {
    width: 100%;
}
#nav {
    display:inline-block;
}
#nav > li {
    display:inline-block;
    position: relative;
} 

#nav > li > a {
    color: #fff;
    text-transform:uppercase;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
     
} 
#nav li:hover .subnav {
    display: block;
}
#nav li a {
    display: block;
    padding: 0 24px;
    text-decoration: none;
    line-height: 46px;


}
#header {
    background-color: #000;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
} 
#nav , .subnav {
    list-style-type: none   ;
}
#nav .subnav {
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     display: none;    
}
#nav .down {
    font-size: 14px;
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    
    line-height: 38px;  
}
#header .search-btn {
    float: right;
    padding: 0 21px;
}
#header .search-btn:hover {
    background-color: red;
    cursor:pointer;

}
#header .search-icon {
    color: #fff;
    line-height: 46px;
   

}
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/W3_band/assets/img/IMG_6149.jpg') top center / cover no-repeat;

}  
#slider .text-content {
    position: absolute;
    bottom: 40px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align:center;
    width: 100%;
    /* right: 0;
    left: 0; */
  
}
#slider .text-heading {
    font-weight: 500;
}
#content {
    height: 1000px;
    
    
}
#content .content-section {
    width: 800px;   
    max-width: 100%;
    margin: auto;
    padding: 0 16px;
   

}
#content .content-heading  {
    text-align: center;
    padding: 10px 10px;
    letter-spacing: 4px;
}
#content .sub-heading {
    text-align: center;
    opacity: 0.6;
    font-style: italic;
   
} 
#content .about-text {
    padding: 10px 10px;
    line-height: 1.4;
    text-align: justify;
    
}  
.subimage img {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    
}
#content .subimage {
    float: left;
    /* height: 300px; */
    padding-top: 48px;
    width: 33.33%;
    text-align: center;
   
}
#content .image {
   overflow: hidden;
}  
.text-white {
    color: #fff !important;
} 
.tour-section {
    background-color: #000;
}
.tickets {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tickets li {
    color: #757575;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding: 11px 16px;

}
.tickets .sold-dout {
    background-color: red;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets .quarity {
    float:right;
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin: -3px;

}
.places-list {
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
}
.placebody {
    background-color: #fff;
    color: #000;
    padding: 16px;
}
.places-item {
    float: left;
    width: 33.3333%;
    padding: 0 8px;;
}
.place1 {
    width: 100%;
    display: block;
}
.place1:hover {
    opacity: 0.6;
}
.place-btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 15px;
   
}
.place-btn:hover {
    background-color: #ccc;
    color: #000;
}
.modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    height: 350px;
    position: relative;
    max-width: calc(100%-32px);
    animation: modalframe ease 0.5s;
}
.modal-header {
    background-color: aquamarine;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;

}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    opacity: 0.8;
    cursor: pointer;
}
.modal-close:hover {
    opacity: 0.6;
}
.modal-header .ti-bag {
    margin-right: 16px;
}
.modal-body {
    padding: 16px;
}
.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
   
}
.modal-input {
    border: #ccc solid 1px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 12px;    
    
}
#tickets-buy {
    color: #fff;
    background-color: rgb(12, 193, 133);
    width: 100%;
    padding: 12px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
#tickets-buy:hover {
    opacity: 0.9;
}
.modal-footer {
    padding: 16px;
    text-align: right;

}
.modal-footer a {
    color: blue;
}
@keyframes modalframe {

    from {
        opacity: 0;
        transform: translateY(-150px);

    }
    to {
        opacity: 1;
        transform: translateY(0px);

    }
}
.content {
    padding-top: 50px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;

}
.form-submit {
    float: right;
    padding: 8px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

#header .menu {
    float: left;
    color: #fff;
    padding-left: 8px;
    padding-top: 8px;
    font-size:x-large;
    
}
/* .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
} */
.nav-bar  {
    position: fixed;
    top :20px;
    /* top: 50px;   */
    left: 0;
    bottom: 0;
    /* width: 100px; */
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    /* transform: translateX(-100%); */
    display: none;
    animation: modafade1 linear 0.5s;
    /* background-color:#ccc; */
    height: 150px;
    box-shadow: #ccc
}
.nav-bar  li  a  {
    display:block;
    background-color: #ccc;
    text-decoration: none;
    color: #000;
    padding-bottom: 10px;
    padding-top: 20px;
}
    

.nav-bar.open {
    display: flex;
}
.main.open {
    display: flex;
}

.nav-bar li  {
    background-color: #fff;
    text-align: center;
    
    
}
.menu-btn {
    float: left;
}

@keyframes modafade1 {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
} 
.nav-bar .close {
    position: absolute;
    
    /* float: right; */
    color: rgb(138, 26, 26);
    background-color: #ccc;
    right: 0;
    top: 0;
    cursor: pointer;
    /* display: flex; */   
    
}
.bar {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 150px;

}
@media screen and (max-width :739px) {
    #nav > li {
        display: none;
    }
    #header .search-icon {
        display: none;
    }
    #content .item {
        margin-top: 30px;
        width: 100%;
    }
    .subimage img {
        width: 80%;
        height: 80%;
    }

        
}
/* table width >=740 and width <1024px */
@media screen and (min-width : 740px) and (max-width : 1023px) {

   
}

/* pc width >=1024 */
@media screen and (min-width :1024px) {
    
    .menu-btn {
        display: none;
    }
}
